<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left">
            <input class="input" formControlName="email" />
            <span class="icon is-small is-left">
                <fa-icon class="button-icon" [icon]="['fas', 'envelope']"></fa-icon>
            </span>
        </p>
        
    </div>

    <div class="field">
        <label class="label">Password</label>
        <p class="control has-icons-left">
            <input class="input" formControlName="password" type="password" />
            <span class="icon is-small is-left">
                <fa-icon class="button-icon" [icon]="['fas', 'lock']"></fa-icon>
            </span>
        </p>
    </div>
    <br/>
    <ng-container *ngIf="error | async">
        <div class="message is-danger">
            <div class="message-body">
                Invalid email address or password.
            </div>
        </div>
        <br/>
    </ng-container>
    <button type="submit" class="button is-dark">Sign in</button>
    <br/><br/>
    <p>Don't have an account? <a [routerLink]="" (click)="register()">Sign up</a> </p> 
</form>