<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-field
        label="Email"
        controlName="email"
        [hasLeftIcon]="true"
        [icon]="['fas', 'envelope']"
    ></app-form-field>

    <app-form-field
        type="password"
        label="Password"
        controlName="password"
        [hasLeftIcon]="true"
        [icon]="['fas', 'lock']"
    ></app-form-field>
    <br/>
    <ng-content></ng-content>
    <button type="submit" class="button is-dark" [disabled]="(loading | async) || !form.valid">Sign in</button>
    <br/><br/>
    <p>Don't have an account? <a (click)="register()">Sign up</a> </p> 
</form>