<div class="field" [formGroup]="form" style="margin-bottom: 5px;" >
    <label class="label">{{ label }}</label>
        
    <p class="control has-icons-right" [ngClass]="controlClass">
        <input 
            class="input" 
            [type]="type"
            [ngClass]="( (hasErrors | async) || control.invalid) && control.touched ? 'is-danger' : (liveValidationSucceeded | async) ? 'is-success' : ''"
            [formControl]="control"
        />
        <ng-container *ngIf="hasLeftIcon">
            <span class="icon is-small is-left">
                <fa-icon [icon]="icon"></fa-icon>
            </span>
        </ng-container>
        <ng-container *ngIf="liveValidationSucceeded | async">
            <span class="icon is-small is-right">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
            </span>
        </ng-container>
    </p>
    <ng-container *ngFor="let key of errorKeys">
        <p class="help is-danger" *ngIf="checkError(key).hasError">
            {{ checkError(key).message }}
        </p>
    </ng-container>
    
</div>