<div #notificationbtn style="cursor: pointer; margin: 10px;" (click)="toggleNotifications()">
    <div class="badge-anchor">
        <fa-icon class="fa-2x" [icon]="['fas', 'bell']"></fa-icon>
        <div class="badge" *ngIf="(notificationCount | async) > 0">
            {{ notificationCount | async }}
        </div>
    </div>
</div>
<app-anchor-window [position]="{ 'top': '-10px', 'right': '10px' }" [control]="notificationButton" [isOpen]="notificationsOpen" (close)="toggleNotifications()">
    <div #notificationmenu class="drop-menu notification-menu scroll-custom" [ngClass]="scrollClass | async">
        <h3 class="notification-heading subtitle is-3">Notifications</h3>
        <div class="notification-item" *ngFor="let item of notifications | async">
            <h5 class="subtitle is-5">{{ item.header }}</h5>
            <p class="text-subtle">{{ item.body }}</p>
        </div>
    </div>
</app-anchor-window>