.badge-anchor {
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    left: 15px;
    background-color: var(--colour-notification-alert);
    color: var(--colour-notification-alert-text);
    width: 22px;
    height: 22px;
    border-radius: 22px;
    text-align: center;
}