<div class="flex-row-reverse" *ngIf="! disableCompleted">
    <div class="field">
        <input type="checkbox" class="checkbox-input switch is-rounded" [checked]="showCompleted | async" (click)="toggleShowCompleted()"/>
        <label>Show completed tasks</label>
    </div>
</div>

<table class="table" *ngIf="(tasks | async).length > 0 && ( (nonCompletedCount | async) > 0 || !disableCompleted )">
    <thead>
        <td>Name</td>
        <td class="hidden-mobile">Description</td>
        <td *ngIf="includeAssignee">Assigned to</td>
    </thead>
    <tr *ngFor="let task of tasks | async" [ngClass]="getRowClass(task, (transitioning | async), (showCompleted | async))">
        <td>
            <fa-icon class="tick fa-lg" [icon]="['far', 'check-circle']" (click)="check(task)"></fa-icon>
            {{ task.label }}
        </td>
        <td class="hidden-mobile">
            {{ task.description }}
        </td>
        <td *ngIf="includeAssignee">
            {{ task.assignedTo.displayName }}
        </td>
    </tr>
</table>

<p *ngIf="(tasks | async).length === 0 || (nonCompletedCount | async) === 0 && disableCompleted" 
    class="subtle centered"
>No upcoming tasks</p>