<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-field
        label="Email"
        controlName="email"
        [hasLeftIcon]="true"
        [icon]="['fas', 'envelope']"
        [hasLiveValidation]="true"
        [isValidating]="validatingEmail"
        [liveValidationSucceeded]="emailValid"
        [errorMessages]="{ 'emailInUse': 'This email address is already in use.', 'email': 'Please enter a valid email address' }"
    ></app-form-field>

    <app-form-field
        label="Display name"
        controlName="displayName"
        [hasLeftIcon]="true"
        [icon]="['fas', 'user-circle']"
    ></app-form-field>

    <app-form-field
        type="password"
        label="Password"
        controlName="password"
        [hasLeftIcon]="true"
        [icon]="['fas', 'lock']"
    ></app-form-field>

    <app-form-field
        type="password"
        label="Confirm password"
        controlName="confirmPassword"
        [hasLeftIcon]="true"
        [icon]="['fas', 'lock']"
        [errorMessages]="{ 'mustMatch': '' }"
    ></app-form-field>

    <br/>
    <button type="submit" class="button is-dark" [disabled]="(loading | async) || !form.valid">Sign up</button>
    <br/><br/>
    <p class="centered">Already have an account? <a (click)="login()">Sign in</a> </p> 
</form>