/* You can add global styles to this file, and also import other style files */

@sizes: {
    mobile: 500px
}

:root {
    --colour-login-bg: rgb(30, 44, 56);
    --colour-menu-main: rgb(30, 44, 56);
    --colour-menu-main-active: rgb(37, 53, 66);
    --colour-menu-main-primary: rgb(218, 218, 218);
    --colour-menu-main-secondary: rgb(131, 131, 131);
    --colour-menu-sub: rgb(231, 238, 245);
    --colour-menu-sub-button: rgb(43, 94, 143);
    --colour-dashboard-bg: white;   
    --colour-notification-alert: red;
    --colour-notification-alert-text: white;
    --colour-header-icon: white;
    --colour-avatar: rgb(34, 75, 62);
    --colour-highlight: rgb(245, 248, 250);
    --colour-task-hover: rgb(30, 153, 30);
    --width-mobile: @sizes[mobile];
}

.text-subtle {
    color: rgb(148, 148, 148);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

p.centered {
    text-align: center;
}

p.subtle {
    color: gray;
}

.drop-menu {
    background: var(--colour-dashboard-bg);
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 5px;
}

.add-button {
    cursor: pointer;
    align-items: baseline;
    flex-grow: 0;
}

.add-button:hover > *, .add-button:hover > * > * {
    color: rgb(0, 206, 221);
}

@media all and (max-width: @sizes[mobile]) {
    .drop-menu {
        width: 98vw;
        height: calc(~"100vh - 62px");
        position: fixed;
        top: 60px;
        left: 1vw;
    }

    .hidden-mobile {
        display: none;
    }
}